/* Author: Nick DiRienzo
 * Began On: 05.25.2011
 */
#wrapper a {
	color: #E76021;
	text-decoration: none;
}

#wrapper a:hover {
	text-decoration: underline;
}

#new-post-form label {
	color: white;
}
