/* Author: Nick DiRienzo
 * Began On: 05.23.2011
 */
body {
	background-color: white;
	text-align: center;
	font-family: 'Times New Roman', Times, sans;
}

#header {
	margin: 12px auto;
	padding: 3px 12px;
	width: 75%;
	border-bottom: 1px solid black;
	font-size: 36px;
	font-weight: bold;
	color: black;
}

#header a {
	color: black;
	text-decoration: none;
}

#header a:hover {
	color: #E76021;
}

#post-wrapper {
	font-family: 'Arial', Arial, sans-serif;
	text-align: left;
	margin: 0px auto;
	padding: 12px;
	background-color: black;
	color: white;
	width: 75%;
}

#footer {
	margin: 12px auto;
	padding: 3px 12px;
	width: 75%;
	border-top: 1px solid black;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

#footer a {
	color: black;
	text-decoration: none;
}

#footer a:hover {
	color: #E76021;
}

.post-title {
	font-family: 'Times New Roman', Times, sans;
	border-bottom: 1px solid white;
	font-size: 24px;
}

.post-title a {
	color: white;
	text-decoration: none;
}

.post-title a:hover {
	color: #E76021;
	text-decoration: none;
}

.post-date {
	font-family: 'Times New Roman', Times, sans;
	font-style: italic;
	font-size: 15px;
	padding: 5px;
}

.post-content {
	padding: 12px;
	display: none;
}

.toggle-content {
	float: right;
	font-family: 'Times New Roman', Times, sans;
	font-style: italic;
	font-size: 15px;
	padding: 9px;
}
