$def with (postTitles, postDates, postContents)
<!-- 	
Author: Nick DiRienzo
Began On: 05.23.2011
-->
<html>
	<head>
		<title>Blog</title>
		<link rel='stylesheet' type='text/css' href='../static/main.css' />
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js'></script>
		<script type='text/javascript' src='../static/functions.js'></script>			
	</head>
	<body>
		<div id='header'>
			BLOG
		</div>
		<div id='post-wrapper'>
			$for i in xrange(len(postTitles)):
				<div class='post-title' id='post-title-$i'><a href=''>$postTitles[i]</a><span class='post-date' id='post-date-$i'>posted on <a href=''>$postDates[i]</a></span></div>		
				<div class='post-content' id='post-content-$i'>$:postContents[i]</div>
				<br />
		</div>
	</body>
</html>
